<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{61,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,50}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_head.png</string>
            <key>size</key>
            <string>{708,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a073847b7f1718cafa7e1e4d8ed5a439$</string>
            <key>textureFileName</key>
            <string>skin_head.png</string>
        </dict>
    </dict>
</plist>
