<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brick0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{56,28}</string>
                <key>textureRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,29}</string>
                <key>spriteSourceSize</key>
                <string>{56,29}</string>
                <key>textureRect</key>
                <string>{{0,28},{56,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{56,28}</string>
                <key>textureRect</key>
                <string>{{56,0},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brick3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,29}</string>
                <key>spriteSourceSize</key>
                <string>{56,29}</string>
                <key>textureRect</key>
                <string>{{56,28},{56,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>brick.png</string>
            <key>size</key>
            <string>{112,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03706a026eebba01db54b6323dccc06e:b641d6a2f19c3a1b37f64d5cc37761ad:81cecd98303514a832d59f83dee4aab5$</string>
            <key>textureFileName</key>
            <string>brick.png</string>
        </dict>
    </dict>
</plist>
