<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{416,184},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,384},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{384,384},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,384},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crac1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{144,256},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crac2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{0,256},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crac3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{216,256},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crac4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{72,256},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,384},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,640},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,640},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,640},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,512},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spike.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{344,184},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spike_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{200,184},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{272,184},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,512},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{384,640},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square_20_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,768},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square_20_sidehalf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,896},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{384,768},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square_40_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,768},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square_40_sidehalf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,768},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square_sidehalf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{384,512},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,512},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_color.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{288,256},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{128,896},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step_rect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,36}</string>
                <key>spriteSourceSize</key>
                <string>{180,36}</string>
                <key>textureRect</key>
                <string>{{180,0},{180,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step_rect_glow_hard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,56}</string>
                <key>spriteSourceSize</key>
                <string>{200,56}</string>
                <key>textureRect</key>
                <string>{{260,72},{200,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step_rect_glow_soft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,56}</string>
                <key>spriteSourceSize</key>
                <string>{200,56}</string>
                <key>textureRect</key>
                <string>{{0,128},{200,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,54}</string>
                <key>spriteSourceSize</key>
                <string>{260,54}</string>
                <key>textureRect</key>
                <string>{{0,72},{260,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step_rounded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,36}</string>
                <key>spriteSourceSize</key>
                <string>{180,36}</string>
                <key>textureRect</key>
                <string>{{0,0},{180,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step_rounded_glow_hard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,56}</string>
                <key>spriteSourceSize</key>
                <string>{200,56}</string>
                <key>textureRect</key>
                <string>{{200,128},{200,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step_rounded_glow_soft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,56}</string>
                <key>spriteSourceSize</key>
                <string>{200,56}</string>
                <key>textureRect</key>
                <string>{{0,184},{200,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step_rounded_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,36}</string>
                <key>spriteSourceSize</key>
                <string>{180,36}</string>
                <key>textureRect</key>
                <string>{{180,36},{180,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step_rounded_sidehalf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,36}</string>
                <key>spriteSourceSize</key>
                <string>{180,36}</string>
                <key>textureRect</key>
                <string>{{0,36},{180,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animation.png</string>
            <key>size</key>
            <string>{512,1054}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad84b1c8b68957f682666cf7d3b2323d:e6bf99e7ddeb8f922f6ce220bb5ce12d:0a34c58c0aa3d5b8cfa3f16913e33dfe$</string>
            <key>textureFileName</key>
            <string>animation.png</string>
        </dict>
    </dict>
</plist>
