<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alpha20.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,784},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,902},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,902},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,747},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,666},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>c14.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,592},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,666},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,821},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,666},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,548},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,474},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,474},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,430},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>d10.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,356},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>d11.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,356},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>d12.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,895},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>d13.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,740},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>d14.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,585},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,430},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,895},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,740},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,585},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,430},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>d8.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,312},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>d9.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,238},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>goaway_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>h10.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,238},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>h11.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,238},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>h12.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,238},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>h13.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,777},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>h14.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,622},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>h3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,467},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>h4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,312},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>h5.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,157},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>h6.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,120},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>h7.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,120},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>h8.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,120},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>h9.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,120},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>pkbm.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,120},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>s10.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,2},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>s11.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>s12.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>s13.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>s15.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>s7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>s8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
            <key>s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,153}}</string>
                <key>sourceSize</key>
                <string>{116,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eefd74b222efb072da37af3b9ce8194:1/1$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
